@import './variables';
@import './_content';
@import './_footer';

.top-bar{
    @include flexCenter();
    background: $bgColor;
    margin: 0px 0px $margin 0px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 3px 2px 0px black;
}

.bar-item{
    margin: $margin;
    width: 100%;

    ul{
        @include flexCenter();
        justify-content: space-around;
    }
    
    li{
        list-style: none;
    }

    a{
        text-decoration:none;
        color: #ccc;
    }

    a:hover{
        color:#fff;
    }

}

